# ---------------------------------------------------
# 用户自定义设置
# Customized Settings
# ---------------------------------------------------


# 名称（标题）
NAV_NAME="MY Navigation"

# 子标题
NAV_SUBTITLE="Jokin的导航"

# 关键词
NAV_KEYWORDS="轻量级导航,动态导航,导航,自动导航,在线导航,导航模板,PHP导航"

# 描述
NAV_DESCRIPTION="一个轻量级自动根据目录动态生成导航的PHP程序"

# 欢迎词
NAV_WELCOME_TITLE="MY Navigation"
NAV_WELCOME_CONTENT="MY Navigation,一个轻量级自动根据目录动态生成导航的PHP程序"

# 是否尝试读取独立配置（默认读取）
NAV_TRY_READ_CONF=YES


# ---------------------------------------------------
# 以下内容不建议非专业用户修改
# Configurations below are not recommended to change.
# ---------------------------------------------------

# 配置文件版本
CONF_VERSION=1
