# ---------------------------------------------------
# 导航自定义信息
# Customized Infomations
# ---------------------------------------------------


# 名称
TITLE="开心导航"
# 标记 hot vip new recommend
MARK=new


# ---------------------------------------------------
# 以下内容不建议非专业用户修改
# Configurations below are not recommended to change.
# ---------------------------------------------------

# 配置文件版本
CONF_VERSION=1
